In [1]:
import pandas as pd
import numpy as np

In [2]:
a = pd.read_excel(r'C:\Users\2106-017\Desktop\서울시_행정구역\서울시 동별 병원.xls')
a

,기간,자치구,동,계,계.1,종합병원,종합병원.1,병원,병원.1,의원,...,치과병원,치과병원.1,치과의원,치과의원.1,한방병원,한방병원.1,한방의원,한방의원.1,조산원,조산원.1
0,기간,자치구,동,병원수,병상수,병원수,병상수,병원수,병상수,병원수,...,병원수,병상수,병원수,병상수,병원수,병상수,병원수,병상수,병원수,병상수
1,2017,합계,합계,17142,86800,57,33077,214,17740,8176,...,64,96,4786,69,43,2657,3626,728,3,12
2,2017,종로구,소계,500,3387,4,2978,2,153,182,...,1,40,168,-,1,31,135,-,-,-
3,2017,종로구,사직동,75,23,-,-,-,-,28,...,-,-,29,-,-,-,16,-,-,-
4,2017,종로구,삼청동,11,30,-,-,1,30,3,...,-,-,4,-,-,-,2,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,2017,강동구,둔촌1동,1,-,-,-,-,-,1,...,-,-,-,-,-,-,-,-,-,-
447,2017,강동구,둔촌2동,28,1413,1,965,-,-,9,...,-,-,9,-,-,-,8,-,-,-
448,2017,강동구,암사1동,37,221,-,-,-,-,11,...,-,-,11,-,-,-,14,-,-,-
449,2017,강동구,천호2동,118,1090,-,-,1,32,71,...,1,-,26,-,-,-,16,-,-,-
450,2017,강동구,길동,103,1361,1,620,3,237,44,...,-,-,30,-,2,198,22,19,-,-

In [3]:
a.drop(['기간', '종합병원','종합병원.1','병원','병원.1','의원','의원.1'], axis=1, inplace=True)
a

,자치구,동,계,계.1,부속병의원,요양병원,요양병원.1,노인전문병원,노인전문병원.1,결핵병원,...,치과병원,치과병원.1,치과의원,치과의원.1,한방병원,한방병원.1,한방의원,한방의원.1,조산원,조산원.1
0,자치구,동,병원수,병상수,병원수,병원수,병상수,병원수,병상수,병원수,...,병원수,병상수,병원수,병상수,병원수,병상수,병원수,병상수,병원수,병상수
1,합계,합계,17142,86800,51,108,17913,6,1186,1,...,64,96,4786,69,43,2657,3626,728,3,12
2,종로구,소계,500,3387,7,-,-,-,-,-,...,1,40,168,-,1,31,135,-,-,-
3,종로구,사직동,75,23,2,-,-,-,-,-,...,-,-,29,-,-,-,16,-,-,-
4,종로구,삼청동,11,30,1,-,-,-,-,-,...,-,-,4,-,-,-,2,-,-,-
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,강동구,둔촌1동,1,-,-,-,-,-,-,-,...,-,-,-,-,-,-,-,-,-,-
447,강동구,둔촌2동,28,1413,-,1,399,-,-,-,...,-,-,9,-,-,-,8,-,-,-
448,강동구,암사1동,37,221,-,1,163,-,-,-,...,-,-,11,-,-,-,14,-,-,-
449,강동구,천호2동,118,1090,-,3,921,-,-,-,...,1,-,26,-,-,-,16,-,-,-
450,강동구,길동,103,1361,-,1,190,-,-,-,...,-,-,30,-,2,198,22,19,-,-

In [4]:
a.drop(['부속병의원','요양병원','노인전문병원','노인전문병원.1','결핵병원','치과병원','치과병원.1','치과의원','치과의원.1','한방의원','한방의원.1','조산원','조산원.1'], axis=1, inplace=True)

In [7]:
a.drop(['요양병원.1','결핵병원.1','정신병원','정신병원.1','한방병원','한방병원.1'], axis=1, inplace=True)
a

     자치구     동      계    계.1
0    자치구     동    병원수    병상수
1     합계    합계  17142  86800
2    종로구    소계    500   3387
3    종로구   사직동     75     23
4    종로구   삼청동     11     30
..   ...   ...    ...    ...
446  강동구  둔촌1동      1      -
447  강동구  둔촌2동     28   1413
448  강동구  암사1동     37    221
449  강동구  천호2동    118   1090
450  강동구    길동    103   1361

[451 rows x 4 columns]

In [20]:
#a.rename(columns=(a.iloc[0,:]), inplace=True)
a.drop(0, axis=0, inplace=True)

In [22]:
a = a[a['자치구']!= '합계']
a = a[a['동']!='소계']

In [26]:
a.sort_values(['자치구','동'], inplace=True)

In [27]:
a.to_excel(r'C:\Users\2106-017\Desktop\서울시_행정구역\make\병원 수.xlsx')

In [35]:
a['병상수'] = a['병상수'].apply(lambda x: x if x != '-' else 0)

In [36]:
a.head(20)

     자치구     동  병원수   병상수
393  강남구  개포1동    8   131
403  강남구  개포2동   26     2
394  강남구  개포4동   33    34
383  강남구  논현1동  250   653
384  강남구  논현2동  149   432
387  강남구  대치1동   98    62
402  강남구  대치2동   89   246
388  강남구  대치4동   99   223
391  강남구  도곡1동   86  1375
392  강남구  도곡2동   45    27
385  강남구  삼성1동   92   389
386  강남구  삼성2동   73   134
399  강남구   세곡동   29   309
398  강남구   수서동   33     4
382  강남구   신사동  640   582
400  강남구  압구정동   14     0
389  강남구  역삼1동  403   645
390  강남구  역삼2동   92    63
396  강남구  일원1동   22     0
397  강남구  일원2동   24     0

In [37]:
a.to_excel(r'C:\Users\2106-017\Desktop\서울시_행정구역\make\병원 수.xlsx')

In [38]:
b = pd.read_excel(r'C:\Users\2106-017\Desktop\서울시_행정구역\make\혼인이혼.xlsx')

In [40]:
b.drop('Unnamed: 0', axis=1, inplace=True)
b

     자치구     동   혼인  이혼
0    강남구  개포1동   12  13
1    강남구  개포2동   61  28
2    강남구  개포4동   91  41
3    강남구  논현1동  112  45
4    강남구  논현2동   87  40
..   ...   ...  ...  ..
421  중랑구  상봉2동  160  44
422  중랑구  신내1동   95  49
423  중랑구  신내2동   74  39
424  중랑구  중화1동   98  34
425  중랑구  중화2동   95  49

[426 rows x 4 columns]

In [44]:
a[]

        동
0    개포1동
1    개포2동
2    개포4동
3    논현1동
4    논현2동
..    ...
421  상봉2동
422  신내1동
423  신내2동
424  중화1동
425  중화2동

[426 rows x 1 columns]